{% extends 'base.html' %}

{% block title %}Search Song{% endblock %}

{% block content %}


{% if not songs %}
<h1> Search for a Song </h1>

<form method='post' action="playlist_song_results/{{playlist.id}}">
    {% csrf_token %}
    <br>
    <div>
        Search: {{ form.song_name }}
    </div>
    <br>

    <button class="btn btn-primary btn-lg" type="submit">Submit</button>

</form>
{% endif %}

{% if none %}
<div>
    No song could be found. :(
</div>
{% endif %}

{% if songs %}
<h1> Search Results </h1>

<!-- For each key/value pair in this track's dictionary.-->
{% for song in songs %}
id: {{song.id}}
<br>
<a href="{% url 'songinfo' song.id%}">Song: {{song.name}}</a>
<br>
Album id: {{song.album_id}}
<br>
Album: {{song.album_name}}
<br>
Artist(s): {{song.artists}}
<br><br>
<td>
    <form method="POST" action="add_song/{{playlist.id}}/{{song.id}}">
        {% csrf_token %}
        <button class="btn btn-outline-secondary" type="submit">Add Song</button>
    </form>
</td>
{% endfor %}

{% endif %}

{% endblock %}