{% load static %}
{% include 'base.html' %}

<title>{% block title %} {{playlist.name}} {% endblock %}</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}

<body></body>
<br>
<h1>{{playlist.name}}</h1>
<br>
<button type="submit" class="btn btn-secondary addsong_button"><a class="playlist_button_text" href="{% url 'playlist_song' playlist.id %}">+</a></button>
<br>
<table class="table addsong_table">
    <br>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Song</th>
        </tr>
    </thead>
    <tbody>
        {% for song in listsong %}
        <tr>
            {% for s in song %}
            <th>{{forloop.parentloop.counter}}</th>
            <td><iframe class="addsong_iframe" src="https://open.spotify.com/embed/track/{{s.id}}" width="100%"
                    height="80" frameBorder="0" allowfullscreen="" allow="autoplay; 
                clipboard-write; 
                encrypted-media; fullscreen; picture-in-picture"></iframe></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

<script type="text/javascript">
  if ("{{ user.userExt.dark_mode }}" == "True") {
    document.write('<link rel="stylesheet" type="text/css" href="{% static 'css/dark_mode.css' %}">');
  }
</script>