{% extends 'base.html' %}
{% load static %}
{% load comments %}
{% load comments_xtd %}

<title>{% block title %} {{playlist.name}} {% endblock %}</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}

<br>
{% if messages %}
{% for message in messages %}
<div class="alert alert-secondary alert-dismissable" role="alert">
  <span type="button" class="close float-end" data-bs-dismiss="alert">
    <sup>X</sup>
  </span>
  {{ message }}
</div>
{% endfor%}
{% endif %}

<body></body>
<br>

<h1>{{playlist.name}} <a class="btn btn-secondary" href="{% url 'save_playlist' playlist.id %}" role="button">Save This
    Playlist</a></h1>
<h5>Created by: <a href="{% url 'show_user' playlist.user_id.id %}">{{playlist.user_id}}</a></h5>

{% if user.is_authenticated %}

<form method="post" action="{% url 'playlist_upvote' playlist.id %}">
  {% csrf_token %}
  <button type="submit">Upvote</button>
</form>
<form method="post" action="{% url 'playlist_downvote' playlist.id %}">
  {% csrf_token %}
  <button type="submit">Downvote</button>
</form>
{% endif %}

Upvotes: {{upvotes}}<br>
Downvotes: {{downvotes}}<br>

<br>
<a class="btn btn-secondary addsong_button" href="{% url 'playlist_song' playlist.id %}"
  role="button"><strong>+</strong></a>
<br>
<table class="table addsong_table">
  <br>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Song</th>
      <th scope="col">Delete Song</th>
    </tr>
  </thead>
  <tbody>
    {% for song in songs%}
    <tr>
      <th>{{forloop.counter}}</th>
      <td><iframe class="addsongs_iframe" src="https://open.spotify.com/embed/track/{{song.id}}" width="100%"
          height="80" frameBorder="0" allowfullscreen="" allow="autoplay; 
                clipboard-write; 
                encrypted-media; fullscreen; picture-in-picture"></iframe>
        <a href="{% url 'songinfo' song.id %}">{{song.name}}</a><br>
        <a href="{% url 'album_info' song.album_id.id %}">{{song.album_id.name}}</a><br>
      </td>
      <td><a href="{% url 'delete_song' playlist.id song.id %}">Delete</a></td>

    </tr>
    {% endfor %}
  </tbody>
</table>

{% get_comment_count for playlist as comment_count %}
<div class="py-4 text-center">
  <a href="{% url 'playlists' %}">Back to playlists</a>
  &nbsp;&sdot;&nbsp;
  {{ comment_count }} comment{{ comment_count|pluralize }}
  ha{{ comment_count|pluralize:"s,ve"}} been posted.
</div>

{% if comment_count %}
<ul class="media-list">
  {% render_xtdcomment_tree for playlist %}
</ul>
{% endif %}

{% if playlist.allow_comments %}
<div class="comment mt-3 mb-5">
  <h4 class="text-center mb-4">Post a Comment</h4>
  <div class="card pt-4">
    {% render_comment_form for playlist %}
  </div>
  {% endif %}
  {% endblock %}