{% load static %}

{% include 'base.html' %}

{% block content %}

<h1> Album Results </h1>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="card album_info_card">
  <div class="card-body">
    <iframe class="album_info_iframe" src="https://open.spotify.com/embed/album/{{id}}" width="100%" height="380"
      frameBorder="0" allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
    </iframe>
  </div>
</div>

<div>
  {% if songs %}
  {%for song in songs %}
  <a href="{% url 'songinfo' song.id %}">{{song.name}}</a>
  <br>
  {% endfor %}
  {% endif %}
</div>

{% endblock %}


<script type="text/javascript">
  if ("{{ user.userExt.dark_mode }}" == "True") {
    document.write('<link rel="stylesheet" type="text/css" href="{% static 'css/dark_mode.css' %}">');
  }
</script>