{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link 
  rel="stylesheet" 
  href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" 
  crossorigin="anonymous"
>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <!-- js lib needed to make dashboard upvote buttons to work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}Euphony{% endblock %}</title>

</head>

<body>

    {%  include 'navbar.html' %}

        {% block content %}
        {% endblock %}



</body>

<script type="text/javascript">
  if ("{{ user.userExt.dark_mode }}" == "True") {
    document.write('<link rel="stylesheet" type="text/css" href="{% static 'css/dark_mode.css' %}">');
  }
</script>

</html>
