{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/settings.css' %}">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2 class="base_setting_h2">Settings</h2>
        <ul class="base_setting_ul">
            <li class="base_setting_li"><a class="base_setting_a" href="http://127.0.0.1:8000/settings_general"><i class="fas fa-address-card"></i>General</a></li>
            <li class="base_setting_li"><a class="base_setting_a" href="http://127.0.0.1:8000/settings_account"><i class="fas fa-user"></i>Account</a></li>
            <li class="base_setting_li"><a class="base_setting_a" href="http://127.0.0.1:8000/settings_security"><i class="fas fa-key"></i></i>Security</a></li>
        </ul> 
    </div>
</div>

</body>
</html>