{% extends 'base.html' %}

<title>{% block title %} Playlists {% endblock %}</title>

{% block content %}

<body style="background-color:white;"></body>
<br>
{% if submitted %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info alert-dismissable" role="alert">
    <span type="button" class="close float-end" data-dismiss="alert">
        <sup>X</sup>
    </span>
    {{ message }}
</div>
{% endfor%}
{% endif %}
{% else %}
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    <br>
    <center>
        <h2 style="color: black;">New Playlist</h2>
    </center>
    <br>

    {{ form.as_p }}

    <center><input type="submit" value="Create Playlist" class="btn btn-secondary"></center>
</form>
{% endif %}
{% endblock %}