{% extends 'base.html' %}
{% load static %}

{% block content %}

<script type="text/javascript">

  function vote(song_id, up_or_down) {
    $.ajax({
      // Our sample url to make request
      url: '{% url "vote" %}',
      // Type of Request
      type: "POST",
      data: { 'vote': up_or_down, 'song': song_id, 'csrfmiddlewaretoken': "{{ csrf_token }}" },
      // Function to call when to
      // request is ok
      success: function (data) {
        if (!(data === 'not logged in')) {

          data = data.split(",");

          upvotes = document.getElementById(song_id + "-upvotes");
          upvotes.innerHTML = data[0];

          downvotes = document.getElementById(song_id + "-downvotes");
          downvotes.innerHTML = data[1];

        }

      },
      // Error handling
      error: function (error) {
        console.log(`Error ${error}`);
      }
    });
  }

</script>

<body class="dash_body">
  {% if feed %}
  <h2 class="activity_feed_header">Feed:</h2>
  <div class="feed_container">
    <div class="row modify_row">
      {% for item in feed %}
      <div class="col-auto mb-3">
        {% if item.post_type == "friend_rating" %}
        <div class="card text-white bg-{{item.rating_color}} mb-3" id="feed_card" style="width: 17.7rem;">
          <div class="card-header">
            <img src="{{item.friend_pic}}" class="dash_header_profile_pic">
            <a href="{% url 'show_user' item.friend_id %}" class="dash_card_user">{{item.friend_name}}</a>
            {% if item.rating_type %}
            upvoted
            {% else %}
            downvoted
            {% endif %}
            this
            {{item.item_type}}.
          </div>
          <div class="card-body">
            {% if item.item_type == "song" %}
            <a href="{% url 'songinfo' item.item_id %}" class="dash_card_name">
              <img src="{{item.cover}}" class="feed_card_image">
              <h5 class="card-body">{{item.item_name}}</h5>
            </a>
            {% elif item.item_type == "album" %}
            <a href="{% url 'album_info' item.item_id %}" class="dash_card_name">
              <img src="{{item.cover}}" class="feed_card_image">
              <h5 class="card-body">{{item.item_name}}</h5>
            </a>
            {% elif item.item_type == "playlist" %}
            <a href="{% url 'addsongs_view' item.item_id %}" class="dash_card_name">
              <img src="{{item.cover}}" class="feed_card_image">
              <h5 class="card-body">{{item.item_name}}</h5>
            </a>
            {% endif %}
          </div>
          <div class="card-footer">
            {{item.date}}
          </div>
        </div>
        {% elif item.post_type == "friend_comment" %}
        <div class="card text-white bg-secondary mb-3" id="feed_card" style="width: 17.7rem;">
          <div class="card-header">
            <img src="{{item.friend_pic}}" class="dash_header_profile_pic">
            <a href="{% url 'show_user' item.friend_id %}" class="dash_card_user">{{item.friend_name}}</a>
            commented on this {{item.item_type}}.
          </div>
          <div class="card-body">
            {% if item.item_type == "song" %}
            <a href="{% url 'songinfo' item.item_id %}" class="dash_card_name">
              <img src="{{item.cover}}" class="feed_card_image">
              <h5 class="card-body dash_card_name">{{item.item_name}}</h5>
            </a>
            {% elif item.item_type == "album" %}
            <a href="{% url 'album_info' item.item_id %}" class="dash_card_name">
              <img src="{{item.cover}}" class="feed_card_image_user">
              <h5 class="card-body dash_card_name">{{item.item_name}}</h5>
            </a>
            {% elif item.item_type == "playlist" %}
            <a href="{% url 'addsongs_view' item.item_id %}" class="dash_card_name">
              <img src="{{item.cover}}" class="feed_card_image_user">
              <h5 class="card-body dash_card_name">{{item.item_name}}</h5>
            </a>
            {% endif %}
          </div>
          <div class="card-footer">
            {{item.date}}
          </div>
        </div>

        {% elif item.post_type == "friend_playlist" %}
        <div class="card text-white bg-light mb-3" id="feed_card" style="width: 17.7rem;">
          <div class="card-header" style="color: black;">
            <img src="{{item.friend_pic}}" class="dash_header_profile_pic">
            <a href="{% url 'show_user' item.friend_id %}" class="dash_card_user">
              {{item.friend_name}}</a>
            created a new playlist.
          </div>

          <div class="card-body">
            <a href="{% url 'addsongs_view' item.playlist_id %}" class="dash_card_name">
              <img src="{{item.friend_pic}}" class="feed_card_image_user">
              <h5 class="card-body dash_card_name" style="color: black;">{{item.item_name}}</h5>
            </a>
          </div>

          <div class="card-footer">
            {{item.date}}
          </div>
        </div>

        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</body>


{% endblock %}