{% extends 'base.html' %}

{% block title %} dash {% endblock %}

{% block content %}

<script type="text/javascript">

  function vote(song_id, up_or_down) {
    $.ajax({
        // Our sample url to make request
        url: '{% url "vote" %}',
        // Type of Request
        type: "POST",
        data : { 'vote' : up_or_down, 'song' : song_id ,'csrfmiddlewaretoken' : "{{ csrf_token }}" },
        // Function to call when to
        // request is ok
        success: function(data) {
            var x = data;
            if(!(x === 'not logged in')){
              ratings = document.getElementById(song_id + "-rating");
              ratings.innerHTML =  parseInt(ratings.innerHTML) + parseInt(x);
            }
        },
        // Error handling
        error: function (error) {
            console.log(`Error ${error}`);
        }
    });
  }

</script>


{% for item in recommendations %}
<div class="card" style="width: 40rem;">
  <div class="card-body">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{item.song.id}}?utm_source=generator" width="100%" height="80"
     frameBorder="0" allowfullscreen=""
     allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
    </iframe>
    <p id="{{item.song.id}}-rating">
    <p/>
    <button class="btn btn-primary", onclick="vote('{{item.song.id}}', 1)">Upvote</button>
    <button class="btn btn-primary", onclick="vote('{{item.song.id}}', 0)">Downvote</button>
    <a href="{% url 'songinfo' item.song.id  %}" class="btn btn-primary">Comments</a>

    <script type="text/javascript">

     var ratings = {{item.ratings}};
     document.getElementById("{{item.song.id}}-rating").innerHTML = ratings.toString();

    if ("{{ user.userExt.dark_mode }}" == "True") {
      document.write('<link rel="stylesheet" type="text/css" href="{% static 'css/dark_mode.css' %}">');
    }

    </script>
  </div>
</div>

{% endfor %}

{% endblock %}
