{% load static %}
{% include 'base.html' %}

{% block title %}Euphony{% endblock %}

{% block content %}
<br>
<h1 style="margin-left: -70px;">Euphony home page</h1>
<br>
<h3 style="margin-right: 25px;">This will be our temporary home page. Link your stuff here if you want to
  easily access it.
</h3>

<strike><a href="{% url 'search_song' %}">Search Song Page</a></strike>
<br>
<a href="{% url 'playlists' %}">Playlists</a>
<br>
<a href="{% url 'link_account' %}">Link account(admin)</a>
<br>
<a href="{% url 'dash' %}">dashboard</a>
<br>
<a href="{% url 'settings_general' %}">User Settings</a>
<br>
<a href="{% url 'profile' %}">Profile Search</a>
<br>
<a href="{% url 'login' %}">Login page</a>
<br>
<a href="{% url 'logout' %}">Logout page (instant logout, redirects to login page)</a>
<br>
<a href="{% url 'register' %}">Register Page</a>
<br>
<strike><a href="{% url 'search_album' %}">Search Album Page</a></strike>
<br>
<br>
<a href="{% url 'search' %}">Search Page (Song & Album results)</a> NOTE: Waiting to include user/playlist search
until Shane finishes his updated search page.

{% endblock %}

<script type="text/javascript">
  if ("{{ user.userExt.dark_mode }}" == "True") {
    document.write('<link rel="stylesheet" type="text/css" href="{% static 'css / dark_mode.css' %}">');
  }
</script>