{% extends 'base.html' %}

{% block title %}Euphony{% endblock %}

{% block content %}
<br>
<h1 style="margin-left: -70px;">Euphony home page</h1>
<br>
<h3 style="margin-right: 25px;">This will be our temporary home page. Link your stuff here if you want to
    easily access it.
</h3>

<a href="{% url 'search_song' %}">Search Song Page</a>

<br>
<a href="{% url 'playlists' %}">Playlists</a>
<br>
<a href="{% url 'link_account' %}">Link account(admin)</a>
<br>
<a href="{% url 'dash' %}">dashboard</a>
<br>
<a href="{% url 'settings_general' %}">User Settings</a>
{% endblock %}