{% load static %}
{% include 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<br>
<h1>Euphony home page</h1>
<br>

<b>New changes during week of 4/11 - 4/17:</b>
<ul>
  <li>Profile page with links to friends pages.</li>
  <li>Searching is now done through the navbar search.</li>
</ul>

<a href="{% url 'playlists' %}">Playlists</a>
<br>
<a href="{% url 'dash' %}">dashboard</a>
<br>
<a href="{% url 'register' %}">Register Page</a> We should prolly make a new button for this in the navbar
<br>
<a href="{% url 'top' %}">Top Chart Page</a>
<br>
<br>
<strike>Profile Search</strike> Use the navbar search now
<br>
<strike>Search Page (Song & Album results)</strike> Use the navbar search now
<br>
<strike>Search Song Page</strike>
<br>
<strike>Search Album Page</strike>
<br>
<strike>Link account(admin)</strike> Now in the account settings page
<br>
<strike>User Settings</strike>Accessible at top right dropdown menu now (must be logged in)
<br>
<strike>Logout page (instant logout, redirects to login page)</strike> Accessible at top right dropdown menu now (must
be logged in)
<br>
<strike>Login page</strike>
<br>
<br>
Previous weekly updates:
<br>
--------------------------------------
<br>

Changes during week of 4/4 - 4/11:
<ul>
  <li>Search everything page</li>
  <li>Playlist view update/fix.</li>
  <li>Dashboard provides links now.</li>
  <li>Album view updated.</li>
  <li>Standard CSS created.</li>
  <li>Comments on albums added.</li>
  <li>Anonymous user restricted pages.</li>
</ul>

{% endblock %}

<script type="text/javascript">
  if ("{{ user.userExt.dark_mode }}" == "True") {
    document.write('<link rel="stylesheet" type="text/css" href="{% static 'css / dark_mode.css' %}">');
  }
</script>