{% include 'base.html' %}
{% load static %}

{% block content %}

{% if not incoming_requests %}
No notifications.
{% endif %}

{% for request in incoming_requests %}
Request from: <a href="{% url 'show_user' request.from_user.id %}"><b>{{request.from_user}}</b></a> at
{{request.created}}<br>
<form class="d-flex" method=POST action="{% url 'accept_friend_request_notifications' request.from_user.id %}">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Accept</button>
</form>
<form class="d-flex" method=POST action="{% url 'reject_friend_request_notifications' request.from_user.id %}">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Reject</button>
</form>
<br>
{% endfor %}

{% endblock %}