{% load static %}
{% include 'base.html' %}

<title>{% block title %} Playlists {% endblock %}</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}

<body></body>
<br>
{% if messages %}
{% for message in messages %}
<div class="alert alert-secondary alert-dismissable" role="alert">
    <span type="button" class="close float-end" data-bs-dismiss="alert">
        <sup>X</sup>
    </span>
    {{ message }}
</div>
{% endfor%}
{% endif %}

<body>
    <h1 style="color:black" class="display-6"><strong>Playlists</strong>
        <a class="btn btn-secondary" href="{% url 'create_playlist' %}" role="button">+ Create new playlist...</a>
    </h1>
</body>
<br>
<table class="table playlist_table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Playlist Name</th>
            <th scope="col">Delete Playlist</th>
        </tr>
    </thead>
    <tbody>
        {% for instance in playlists %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a href="{% url 'addsongs_view' instance.id %}">{{ instance.name }}</a></td>
            <td><a href="{% url 'delete_playlist' instance.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

<script type="text/javascript">
    if ("{{ user.userExt.dark_mode }}" == "True") {
        document.write('<link rel="stylesheet" type="text/css" href="{% static 'css/dark_mode.css' %}">');
    }
</script>