{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Playlists {% endblock %}</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}

<body></body>
<br>
<body>
    <div id="playlistMod">
    <h1 class="display-6 playlist_name"><strong>Playlists</strong>
        <button type="button" class="btn create_playlist_btn" data-toggle="modal" 
        data-get="{% url 'create_playlist' %}" data-target="#playlistModal"
        id="submit">
        + Create new playlist...</button>
    </h1>
</div>
    <br>

    <div class="modal" id="playlistModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form id="playlistModalForm" method="POST" action="{% url 'create_playlist' %}" autocomplete="off">
                {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title modal_title">New Playlist</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modal-body">
                        <label for="name" class="modal_title">Playlist Name:</label>
                        <input type="text" id="name" name="name">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" value="Create Playlist" class="btn create_button">
                        </div>
            </form>
            </div>
          </div>
        </div>
      </div>
</body>

{% for playlist in output_list %}
    <div class="playlist_group">
        {% for p in playlist %}

        <div class="card playlist_card">

            <a href="{% url 'addsongs_view' p.playlist_id %}">
                {% if p.has_cover %}
                    <img src="{{p.cover}}" class="custom_playlist">
                {% else %}
                    <img src="{% static 'images/Default_Pic.png' %}" class="custom_playlist">
                {% endif %}
            </a>
                <div class="card-body">
                    <div>
                    <h5 class="card-title playlist_title">{{p.playlist_name}} <a class="btn playlist_button" href="{% url 'delete_playlist' p.playlist_id %}" role="button">Delete</a></h5>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}
<br>
{% endblock %}
