{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Playlists {% endblock %}</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}

<body></body>
<br>
{% if messages %}
{% for message in messages %}
<div class="alert alert-secondary alert-dismissable" role="alert">
    <span type="button" class="close float-end" data-bs-dismiss="alert">
        <sup>X</sup>
    </span>
    {{ message }}
</div>
{% endfor%}
{% endif %}
<body>
    <h1 class="display-6 playlist_name"><strong>Playlists</strong>
        <a class="btn btn-secondary" href="{% url 'create_playlist' %}" role="button">+ Create new playlist...</a>
    </h1>
    <br>
</body>

{% for playlist in output_list %}
    <div class="playlist_group">
        {% for p in playlist %}

        <div class="card playlist_card">

            <a href="{% url 'addsongs_view' p.playlist_id %}">
                {% if p.has_cover %}
                    <img src="{{p.cover}}" class="custom_playlist">
                {% else %}
                    <img src="{% static 'images/Default_Pic.png' %}" class="custom_playlist">
                {% endif %}
            </a>
                <div class="card-body">
                    <div>
                    <h5 class="card-title">{{p.playlist_name}} <a class="btn btn-secondary" href="{% url 'delete_playlist' p.playlist_id %}" role="button">Delete</a></h5>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}
<br>
{% endblock %}
