{% load static %}

{% include 'base.html' %}

<!doctype html>
<html lang="en">
  <body></body>
  <h1>Welcome to the User's Page: </h1>
  <br>
  <body>
    {% block content %}
    <h1>Search For A User:</h1>

    <form class="d-flex" method=POST action="{% url 'search_users' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Search For A User" aria-label="Search" name="searched2">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
    {% endblock %}
    
  </body>
</html>


<script type="text/javascript">
  if ("{{ user.userExt.dark_mode }}" == "True") {
    document.write('<link rel="stylesheet" type="text/css" href="{% static 'css/dark_mode.css' %}">');
  }
</script>