{% extends 'base.html' %}

{% block title %}Search song{% endblock %}

{% block content %}

<h1> Search for a Song (ala Spotify) </h1>

<form method='post' action="search_song_results">
    {% csrf_token %}
    <br>
    <div>
        Search: {{ form.song_name }}
    </div>
    <br>

    <button class="btn btn-primary btn-lg" type="submit">Submit</button>

</form>

{% if none %}
<div>
    No song could be found. :(
</div>
{% endif %}

{% if songs %}
<div>
    Songs exists. !
</div>

<h1>{{ songs["track_name"] }}</h1>

{% endif %}

{% endblock %}