{% load static %}
{% include 'base.html' %}



<style>
    div.scroll {
        margin: 4px, 4px;
        padding: 4px;
        background-color: #a1a1a1;
        width: 300px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    div.scrollmenu {
        background-color: rgb(255, 255, 255);
        overflow: auto;
        white-space: nowrap;
    }
</style>

{% block content %}


{% if not results %}
<h1> Search </h1>

<form method='post' action="search_results">
    {% csrf_token %}
    <br>
    <div>
        Search: {{ form.song_name }}
    </div>
    <br>

    <button class="btn btn-primary btn-lg" type="submit">Submit</button>

</form>

{% else %}

<!-- First create Songs scrollbar. -->

{% if songs %}
<h3>Songs:</h3>

<div class="scrollmenu">
    <table>
        <tr>
            {% for song in songs %}
            <td>
                <img src="{{song.album_cover}}">
                <div>
                    <a href="{% url 'songinfo' song.id%}">Song: {{song.name}}</a>
                    <br>
                    <a href="{% url 'album_info' song.album_id%}">Album: {{song.album_name}}</a>
                </div>
                Artist(s): {{song.artists}}
            </td>
            {% endfor %}
        </tr>
    </table>
</div>
{% else %}
<h1>No song results were found.</h1>

{% endif %}

<!-- Next create Albums scrollbar. -->
{% if albums %}
<h3>Albums:</h3>
<div class="scrollmenu">
    <table>
        <tr>
            {% for album in albums %}
            <td>
                <img src="{{album.cover}}">
                <div>
                    <a href="{% url 'album_info' album.id %}">Album: {{album.name}}</a>
                    <br>
                    Artist(s): {{album.artists}}
                    <br>
                    Release date: {{album.release_date}}
                </div>
            </td>
            {% endfor %}
        </tr>
    </table>
</div>
{% else %}
<h1>No albums results were found.</h1>

{% endif %}

{% endif %}

{% endblock %}

<!--
<script type="text/javascript">
    if ("{{ user.userExt.dark_mode }}" == "True") {
        document.write('<link rel="stylesheet" type="text/css" href="{% static 'css / dark_mode.css' %}">');
    }
</script>
-->