{% load static %}
{% include 'base.html' %}

{% block content %}


{% if not songs %}
<h1> Search for a Song </h1>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<form method='post' action="search_song_results">
    {% csrf_token %}
    <br>
    <div>
        Search: {{ form.song_name }}
    </div>
    <br>

    <button class="btn btn-primary btn-lg" type="submit">Submit</button>

</form>
{% endif %}

{% if none %}
<div>
    No song could be found. :(
</div>
{% endif %}

{% if songs %}
<h1> Search Results </h1>

<!-- For each key/value pair in this track's dictionary.-->
{% for song in songs %}
id: {{song.id}}
<br>
<a href="{% url 'songinfo' song.id%}">Song: {{song.name}}</a>
<br>
Album id: {{song.album_id}}
<br>
Album: {{song.album_name}}
<br>
Artist(s): {{song.artists}}
<br><br>
{% endfor %}

{% endif %}

{% endblock %}

<script type="text/javascript">
  if("{{ user.userExt.dark_mode }}" == "True") {
  document.write('<link rel="stylesheet" type="text/css" href="{% static 'css/dark_mode.css' %}">');
  }
</script>