{% load static %}
{% include 'base.html' %}

{% block content %}


{% if not albums %}
<h1> Search for a Album </h1>

<form method='post' action="search_album_results">
  {% csrf_token %}
  <br>
  <div>
    Search: {{ form.song_name }}
  </div>
  <br>

  <button class="btn btn-primary btn-lg" type="submit">Submit</button>

</form>
{% endif %}

{% if albums %}
<h1> Search Results </h1>

<!-- For each key/value pair in this track's dictionary.-->
{% for album in albums %}
id: {{album.id}}
<br>
<a href="{% url 'album_info' album.id %}">Album: {{album.name}}</a>
<br>
Artist(s): {{album.artists}}
<br>
Type: {{album.type}}
<br>
Release date: {{album.release_date}}
<br><br>
{% endfor %}

{% endif %}

{% if albums_empty %}
No albums were found. :(
{% endif %}

{% endblock %}

<script type="text/javascript">
  if ("{{ user.userExt.dark_mode }}" == "True") {
    document.write('<link rel="stylesheet" type="text/css" href="{% static 'css/dark_mode.css' %}">');
  }
</script>