{% load static %}
{% include 'base_settings.html' %}
{% include 'base.html' %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>{% block title %} Euphony | Reset Password {% endblock %}</title>

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
{% block body %}
<body>
<div class="main_content">

    <h3 class = "settings_name">Reset Password</h3>
    <div class="container settings_reset_password">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class = "password_reset_save">
        <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      </div>
      <br>
      <div class='passwordSettingMessage'>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-secondary alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
          {{ message }}
        </div>
        {% endfor %}

      {% endif %}

    </div>

    </form>
    <br>
  </div>
</div>

<script type="text/javascript">
  if("{{ user.userExt.dark_mode }}" == "True") {
  document.write('<link rel="stylesheet" type="text/css" href="{% static 'css/dark_mode.css' %}">');
}
</script>

</body>
{% endblock %}