{% extends 'base.html' %}
{% load comments %}
{% load comments_xtd %}

{% block title %} Song Info {% endblock %}


{% block content %}


<div class="container">
  <form method="POST">
    {% csrf_token %}
    <center>
      {{object.name}}
      <h1>{{songid.name}}</h1>
      <h1><a href="{% url 'album_info' album.id %}">{{album.name}}</a></h1>
      <h2>{{song_artists}}</h2>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{songid.id}}" width="100%"
        height="80" frameBorder="0" allowfullscreen="" allow="autoplay; 
       clipboard-write; 
       encrypted-media; fullscreen; picture-in-picture"></iframe>
    </center>
  </form>
  {% get_comment_count for songid as comment_count %}
  <div class="py-4 text-center">
    <a href="{% url 'search' %}">Back to search page</a>
    &nbsp;&sdot;&nbsp;
    {{ comment_count }} comment{{ comment_count|pluralize }}
    ha{{ comment_count|pluralize:"s,ve"}} been posted.
  </div>

  {% if comment_count %}
  <ul class="media-list">
    {% render_xtdcomment_tree for songid %}
  </ul>
  {% endif %}

  {% if songid.allow_comments %}
  <div class="comment mt-3 mb-5">
    <h4 class="text-center mb-4">Post a Comment</h4>
    <div class="card pt-4">
      {% render_comment_form for songid %}
    </div>
  </div>
  {% endif %}

  {% endblock %}