{% extends 'base.html' %}
{% load static %}
{% load comments %}
{% load comments_xtd %}

{% block title %} Song Info {% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

  <form method="POST" class="test">
    {% csrf_token %}
    <div class="songinfo_container">
      {{object.name}}
      <h5 class="song_info_tags">Song Name:</h5>
      <h5 class="song_infos">{{songid.name}}</h5>
      <h5 class="song_info_tags">Album Name:</h5>
      <h5 class="song_infos song_info_album"><a href="{% url 'album_info' album.id %}">{{album.name}}</a></h5>
      <h5 class="song_info_tags">Artist(s):</h5>
      <h5 class="song_infos">{{song_artists}}</h5>


          <div class="spotify_container2">
            <iframe loading="lazy" class="spotify_embeded"src="https://open.spotify.com/embed/track/{{songid.id}}">
            </iframe>
          </div>



      {% if user.is_authenticated %}
      <div class = "like_dislike_buttons">
        <div class = "like_button">
          <form method="post" action="upvote/{{songid.id}}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Upvote</button>
            Upvotes: {{upvotes}}
          </form>
        </div>
        <div class = "dislike_button">
          <form method="post" action="downvote/{{songid.id}}">
            {% csrf_token %}
            <button type="button" class="btn btn-light" data-mdb-ripple-color="dark">Downvote</button>
            Downvotes: {{downvotes}}
          </form>
          {% endif %}  
        </div>
      </div>
    </div>
  </form>

  <div class="comments_div">
    <h4 class="text-center comments_text">Comments</h4>
    {% get_comment_count for songid as comment_count %}
    <div class="text-center comments_total">
      <a href="{% url 'search' %}">Back to search page</a>
      &nbsp;&sdot;&nbsp;
      {{ comment_count }} comment{{ comment_count|pluralize }}
      ha{{ comment_count|pluralize:"s,ve"}} been posted.
    </div>

    {% if comment_count %}
    <ul class="media-list comments_section">
      {% render_xtdcomment_tree for songid %}
    </ul>
    {% else %}
    <ul class=" song_no_comments_section">
      <h5 class="song_no_comments">No Comments</h5>
    </ul>
    {% endif %}

    {% if songid.allow_comments %}
    <div class="comment comment_form_section">
      <div class="card comments">
        {% render_comment_form for songid %}
      </div>
    </div>
    {% endif %}

    {% endblock %}
  </div>