{% extends 'base.html' %}
{% load static %}
{% load comments %}
{% load i18n comments_xtd %}

{% block title %} Song Info {% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container">
  <form method="POST">
    {% csrf_token %}
    <center>
      {{object.name}}
      <h1>{{songid.name}}</h1>
      <h1><a href="{% url 'album_info' album.id %}">{{album.name}}</a></h1>
      <h2>{{song_artists}}</h2>
      <iframe class="songinfo_iframe" src="https://open.spotify.com/embed/track/{{songid.id}}" width="100%" height="80"
        frameBorder="0" allowfullscreen="" allow="autoplay; 
       clipboard-write; 
       encrypted-media; fullscreen; picture-in-picture"></iframe>
    </center>
  </form>

  {% if user.is_authenticated %}

  <form method="post" action="upvote/{{songid.id}}">
    {% csrf_token %}
    <button type="submit">Upvote</button>
  </form>
  <form method="post" action="downvote/{{songid.id}}">
    {% csrf_token %}
    <button type="submit">Downvote</button>
  </form>
  {% endif %}

  Upvotes: {{upvotes}}<br>
  Downvotes: {{downvotes}}<br>
  
  {% get_comment_count for songid as comment_count %}
  <div class="py-4 text-center">
    {{ comment_count }} comment{{ comment_count|pluralize }}
    ha{{ comment_count|pluralize:"s,ve"}} been posted.
  </div>

  
  <ul class="media-list">
    {% render_xtdcomment_tree for songid allow_flagging allow_feedback show_feedback%}
  </ul>
 
  {% if user.is_authenticated %}
    {% if songid.allow_comments %}
  <div class="comment mt-3 mb-5">
    <h4 class="text-center mb-4">Post a Comment</h4>
    <div class="card pt-4">
      {% render_comment_form for songid %}
    </div>
  </div>
    {% endif %}
  {% endif %}  

  {% endblock %}