{% extends 'base.html' %}

{% block title %} All Groups {% endblock %}

{% block content %}

<body>
        <button type="submit" class="btn btn-secondary "><a href="{% url 'user_group_create' %}"> Create Group </a></button>
</body>

	{% if all_groups %}
	<table class="table table-bordered">
		{% for things in all_groups %}
			{% if things.membership %}
				<tr class="table-secondary"> 
					<td><a href= "{% url 'user_group_page' things.id %}">{{ things.item }}</a></td>
					<td><center><a href= "{% url 'user_group_leave' things.id %}">Leave</a></center></td>
                    <td><center><a href= "{% url 'user_group_delete' things.id %}">Delete</a></center></td>
				</tr>
			{% else %}
				<tr> 
					<td><a href= "{% url 'user_group_page' things.id %}">{{ things.item }}</a></td>
					<td><center><a href= "{% url 'user_group_join' things.id %}">Join</a></center></td>
                    <td><center><a href= "{% url 'user_group_delete' things.id %}">Delete</a></center></td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	{% endif %}

{% endblock %}