{% extends 'profile.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<br><br>

<body class="profile_body">
    <center>
        <div class="intro">
            <div class="profile_header_container">
                <img src="{{ user_to_show.profile.profile_pic.url }}" alt="missing" class="profile_pic">
                <div class="profile_information">
                    <h1 class="profile_name">{{ user_to_show }} </h1>
                    <h2 class="profile_bio">{{ user_to_show.profile.bio }}</h2>
                    <div class="profile_links_container">
                        <a class="profile_link" href="">Friends</a>
                        <a class="profile_link" href="">Saved Playlists</a>
                    </div>
                    {% if not_same_user %}
                    <div class="btn-group">
                        {% if already_friends %}
                        <form class="d-flex" method=POST action="{% url 'delete_friend' user_to_show.id %}">
                            {% csrf_token %}
                            <button class="btn mr-3 btn-danger" type="submit">Remove Friend</button>
                        </form>
                        {% elif request_info.request_from_them %}
                        <form class="d-flex" method=POST
                            action="{% url 'accept_friend_request_profile' user_to_show.id %}">
                            {% csrf_token %}
                            <button class="btn mr-3 btn-success" type="submit">Accept Friend Request</button>
                        </form>
                        {% elif request_info.request_to_them %}
                        <button type="button" class="btn mr-3 btn-success" disabled>Request Pending</button>
                        {% else %}
                        <form class="d-flex" method=POST action="{% url 'add_friend' user_to_show.id %}">
                            {% csrf_token %}
                            <button class="btn mr-3 btn-success" type="submit">Add Friend</button>
                        </form>
                        {% endif %}

                        {% if already_blocked %}
                        <form class="d-flex" method=POST action="{% url 'unblock_friend' user_to_show.id %}">
                            {% csrf_token %}
                            <button class="btn mr-3 btn-danger" type="submit">Unblock User</button>
                        </form>
                        {% else %}
                        <form class="d-flex" method=POST action="{% url 'block_friend' user_to_show.id %}">
                            {% csrf_token %}
                            <button class="btn mr-3 btn-danger" type="submit">Block User</button>
                        </form>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </center>
    {% if playlists %}
    <h2 class="playlists_header">Playlists:</h2>
    <div class="playlists_container">

        <div class="row">
            {% for playlist in playlists %}
            <div class="col-auto mb-3">
                <div class="card" id="rating_card" style="width: 22rem">
                    <div class="card-body">
                        <a class="stretched-link" href="{% url 'addsongs_view' playlist.id %}">
                            <h5 class="card-title">{{ playlist.name }}</h5>
                        </a>
                        <h6 class="card-subtitle mb-2 text-muted">Created on {{playlist.date_created}}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <h2 class="ratings_header">Recent Ratings:</h2>
    <div class="ratings_container">
        {% for rating in all_ratings %}
        <div class="col-auto mb-3">
            {% if rating.object.rating_type %}
            <div class="card text-white bg-success" id="rating_card" style="width: 22rem">
                {% else %}
                <div class="card text-white bg-danger" id="rating_card" style="width: 22rem">
                    {% endif %}
                    <!-- Second, find out the type of item this rating is on and provide appropriate link and info.-->
                    <div class="card_container">
                        {% if rating.type == "song" %}
                        <img src="{{rating.object.song_id.album_id.cover}}" class="card_album_cover">
                        <div class="card_info_container">
                            <a href="{% url 'songinfo' rating.object.song_id.id %}" id="rating_card_link"
                                class="stretched-link">
                                {{rating.object.song_id.name }}
                            </a>
                            {{rating.date}} <i>(song)</i>
                        </div>
                        {% elif rating.type == "album" %}
                        <img src="{{rating.object.album_id.cover}}" class="card_album_cover">
                        <div class="card_info_container">
                            <a href="{% url 'album_info' rating.object.album_id.id %}" id="rating_card_link"
                                class="stretched-link">
                                {{rating.object.album_id.name }}
                            </a>
                            {{rating.date}} <i>(album)</i>
                        </div>
                        {% elif rating.type == "playlist" %}
                        <div class="card_info_container">
                            <img src="{{rating.profile_pic.profile_pic}}" class="card_album_cover">
                            <a href="{% url 'addsongs_view' rating.object.playlist_id.id %}" id="rating_card_link"
                                class="stretched-link">
                                Playlist: '{{rating.object.playlist_id.name }}'
                            </a>
                            User: {{rating.object.playlist_id.user_id.username}}<br>
                            {{rating.date}}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

</body>

{% endblock %}