{% extends 'profile.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
<br><br>
<div>
    <center>
        <h1>
            {% if user_to_show.profile.profile_pic %}
                <img src="{{ user_to_show.profile.profile_pic.url }}" width=100 height=100 class="rounded-circle">
            {% else %}
                <img src="{% static 'images/Default_Pic.png' %}" width=100 height=100 class="rounded-circle">
            {% endif %}
            User: {{ user_to_show }} <br>
            <h4>{{ user_to_show.profile.bio }}</h4>

            {% if not_same_user %}

            {% if already_blocked %}
            <form class="d-flex" method=POST action="{% url 'unblock_friend' user_to_show.id %}">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Unblock User</button>
            </form>
            {% else %}
            <form class="d-flex" method=POST action="{% url 'block_friend' user_to_show.id %}">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Block User</button>
            </form>

            {% if already_friends %}
            <form class="d-flex" method=POST action="{% url 'delete_friend' user_to_show.id %}">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Remove Friend</button>
            </form>
            {% else %}
            <form class="d-flex" method=POST action="{% url 'add_friend' user_to_show.id %}">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Add Friend</button>
            </form>
            {% endif %}

            {% endif %}
            {% endif %}

        </h1>
        UserID: {{ user_to_show.id }} <br>
        {% load friendshiptags %}
        Friends:<br>
        {% for friends in allfriends %}
        <li>
            <a href="{% url 'show_user' friends.id %}">{{ friends.username }}</a><br>
        </li>
        {% endfor %}<br>
    </center>
    <h1>My Playlists:</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Playlist Name</th>
            </tr>
        </thead>
        <tbody>
            {% for playlist in playlists %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{% url 'addsongs_view' playlist.id %}"> {{ playlist.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h1>Saved Playlists:</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Playlist Name</th>
            </tr>
        </thead>
        <tbody>
            {% for playlist in saved_playlists %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{% url 'addsongs_view' playlist.id %}"> {{ playlist.saved_playlist }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br><br><br>
<div class="container">

{% endblock %}