body{
  background-color: #DEDCDE;
}

.hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }

  .navbar-title{
    font-size: 22px;
    color: #fff;
    margin-right: 20px;
  }

  .navbar-item{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }

.user_card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #90A19D;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}

.form_container {
  margin-top: 20px;
}

#form-title {
  color: #fff;
}

.login_btn {
  width: 100%;
  background: #CC94F2 !important;
  color: white !important;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login_container {
  padding: 0 2rem;
}

.input-group-text {
  background: #B65CF2 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

#messages {
  background-color: grey;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.login_register {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #363432 !important;
}

.addsong_button{
  float: right;
  color: white;
}

.addsong_iframe{
  border-radius:12px
}

.addsong_table{
  background-color: whitesmoke;
}

.playlist_button_text{
  color: white;
}

.playlist_table{
  background-color: whitesmoke;
}

.album_info_card{
  width: 40rem;
}

.album_info_iframe{
  border-radius:12px
}

.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}

.topchart_iframe{
  border-radius:12px
}

.createplaylist_newplaylist_text{
  color: black;
}

.songinfo_iframe{
  border-radius:12px
}

.navbarcolor{
  background-color: #3B3B3B;
}

.navbar_serach_button_spacing{
  padding-right: 8px;
}

.navbar_items{
  font-weight: bold;
  font-size: 20px;
}

.addsong_button{
  float: right;
}

.addsongs_iframe{
  border-radius:12px
}

.dash_card{
  width: 40rem;
}

.dash_iframe{
  border-radius:12px
}

.songinfo_iframe{
  border-radius:12px
}

.comments{
  background-color: transparent;
  border: none;
}

.spotify_container2{
  margin: 0 auto;
  width: 70%; 
  height: 70%; 
  position: relative; 
}

.spotify_embeded{
  width: 370px; 
  height: 450px;
}

.song_info_tags{
  font-weight: bold;
  text-align: ceter;
  margin-bottom: 0px;
}

.song_info_album a{
  color: red;
  text-decoration: none;
  font-weight: bold;
}


.song_infos{
  font-size: 20px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.songinfo_container{
  float: left;
  left: 0;
  width: 50%;
  text-align: center;
  /*background-color: grey;*/
}

.comments_div{
  vertical-align:top;
  float: left;
  width: 49.2%;
  /*background-color: green; */
}

.comments_section{
  overflow-y:auto;
   height: 280px;
   outline: 3px solid #383838;
  /*background-color: #ababab; */
}

.comment_form_section{
}

.comments_text{
  padding-top: 3px;
}

.comments_total{
  padding-bottom: 5px;
}

.like_dislike_buttons{
  margin: 0 auto;
}

.like_button{
  display: inline-block;
  padding-right: 30px;
}

.dislike_button{
  display: inline-block;
}

.album_info_tags{
  font-weight: bold;
  text-align: ceter;
  margin-bottom: 0px;
}

.album_info_album a{
  color: red;
  text-decoration: none;
  font-weight: bold;
}


.album_infos{
  font-size: 20px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}


.album_image{
  outline: 5px solid grey;
}

.album_like_dislike_buttons{
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.albuminfo_container{
  padding-top: 20px;
  float: left;
  left: 0;
  width: 50%;
  text-align: center;
}

.albuminfo_card{
  margin: 0 auto;
  width: 70%;
  text-align: center;
  outline: 3px solid grey;
  background-color: darkgrey;
}

.album_comments_section{
  overflow-y:auto;
   height: 380px;
   outline: 3px solid #383838;
  /*background-color: #ababab; */
}

.track_list{
  margin: 0 auto;
  padding-top: 10px;
  width: 60%;
}

#track_list_song {
}

.tracklist_spacing{
  padding-bottom: 5px;
}

.track_list_song_div{
  color: darkred;
  text-decoration: none;
  font-weight: bold;
  outline: 1px solid grey;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.track_list_song_div_number{
  float: left;
}

.track_list_song_div_name{
  float: none;
}

.track_list_song_div_time{
  float: right;
}

.search_results{
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search_results_text{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.search_category{
  font-weight: bold;
  font-size: 20px;
}

.search_results_songs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y:auto;
  width: 700px;
  height: 565px;
  outline: 1px solid grey;
  border-radius: 25px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: darkgrey;
}

.search_result_title{
  font-weight: bold;
  color: black;
}

.search_result_text_result{
  color: purple;
}

.search_result_text_info{
  text-decoration: none;
}

.search_result_info{
  padding-top: 5px;
  padding-bottom: 20px;
}

.search_result_song{
  margin: 6px;
  font-size: 12px;
  outline: 1px solid grey;
  border-radius: 25px;
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: lightgrey;
}

.search_result_song_container{
  width: 300px;
  height: 300px;
}

.search_result_song_img{
  max-width: 60%;
  outline: 2px solid grey;
}

.search_results_albums{
  padding-top: 10px;
  padding-left: 10px;
  overflow-y:auto;
  width: 400px;
  height: 565px;
  outline: 1px solid grey;
  border-radius: 25px;
  background-color: darkgrey;
}

.search_result_album{
  margin: 8px;
  font-size: 12px;
  outline: 1px solid grey;
  border-radius: 25px;
  text-align: center;
  width: 350px;
  height: 350px;
  background-color: lightgrey;
}

.search_result_album_img{
  max-width: 70%;
  outline: 2px solid grey;
}

.search_result_album_container{
  width: 350px;
  height: 350px;
}

.search_result_user{
  margin: 0 auto;
  font-size: 12px;
  outline: 1px solid grey;
  border-radius: 25px;
  text-align: center;
  width: 250px;
  height: 50px;
  background-color: lightgrey;
}

.search_results_users{
  padding-top: 10px;
  margin: 0 auto;
  overflow-y:auto;
  width: 100%;
  height: 270px;
  outline: 1px solid grey;
  border-radius: 25px;
  background-color: darkgrey;
}

.search_results_playlists{
  padding-top: 10px;
  margin: 0 auto;
  overflow-y:auto;
  width: 300px;
  height: 270px;
  outline: 1px solid grey;
  border-radius: 25px;
  background-color: darkgrey;
}

.search_result_playlist{
  margin: 0 auto;
  font-size: 12px;
  outline: 1px solid grey;
  border-radius: 25px;
  text-align: center;
  width: 250px;
  height: 50px;
  background-color: lightgrey;
}

.search_results_container{
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.search_result_playlist_container{
  width: 250px;
  height: 50px;
}

.search_result_info_user_playlist{
  padding-top: 5px;
}

.song_no_comments{
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding-top: 15%;
}

.album_no_comments{
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding-top: 20%;
}

.album_no_comments_section{
  outline: 3px solid #383838;
  height: 380px;
}

.song_no_comments_section{
  outline: 3px solid #383838;
  height: 280px;
}

@media only screen and (max-width: 880px) {
  .songinfo_container{
    float: none;
  }

  .comments_div{
    margin: 0 auto;
    width: 100%;
  }

  .songinfo_container{
    width: 100%;
  }

  .albuminfo_container{
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .spotify_container2{
  margin: 0 auto;
  left: 0;
  width: 100%; 
  height: 70%; 
  position: relative; 
  }

  .spotify_embeded{
  width: 270px; 
  height: 350px;
  }

  .album_image{
  max-width: 50%;
  }
}
/* for the comment section on pages */
.comment-form  {
  width: 800px;
  max-width: 100%;
  margin-left: 0;
}
.xtdcomment {
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  padding: 5px;
}
